{
    "env": {
      "test": {
        "presets": ["env", "flow"],
        "plugins": ["preval"]
      },
      "production": {
        "presets": [["env", { "modules": false }], "flow"],
        "plugins": [
            "external-helpers",
            "transform-object-rest-spread",
            "transform-class-properties",
            "ramda",
            "preval"
        ]
      }
    }
}
